/.nyc_output
/coverage
/dist
/dist-ts
/docs/.vuepress/dist
/docs/.vuepress/components/demo/demo-code.js
/node_modules
/tests/fixtures/integrations
/tests/fixtures/**/*.vue
/tests/fixtures/**/*.json
/tests-integrations/fixtures/eslint-plugin-markdown/test.md
/tests-integrations/fixtures/vue-eslint-parser-option/test.json
/tests-integrations/fixtures/eslint-plugin-markdown-nest/test.md
/assets
/index.d.ts
!/.github
!/.vscode
!/docs/.vuepress
