a > img {
  display: inline-block;
}

/* Playground */
.playground .VPDoc.has-aside .content-container,
.playground .VPDoc:not(.has-sidebar) .content,
.playground .VPDoc:not(.has-sidebar) .container {
  max-width: none;
}

.playground .VPDoc.has-aside .aside {
  display: none;
}
